header{
	height: 100px;
	background: rgb(125,149,255);
}
article{
	height:467px;
	background: rgb(129,208,252);
}
.image{
display: inline;
}
.logo{
	margin-left: 20px;
}
.fb-login-button{
	padding: 60px 40px 0 700px;
}
footer{
	height: 100px;
	background: rgb(125,149,255);
}
.fbshare{
	padding: 0px 40px 0 1200px;
}
iframe{
	width: auto;
	height: auto;
}
.dec{
	margin-top: 20px;
	text-align: center;
	max-height:430px; 
	max-width:1000px;
}
.img{
	vertical-align: none;
}