header{
	height: 100px;
	background: rgb(125,149,255);
}
article{
	height:467px;
	background: rgb(129,208,252);
}
.image{
display: inline;
}
.logo{
	margin-left: 20px;
}
.fb-login-button{
	padding: 60px 40px 0 700px;
}
.person{
	margin-left: 30%;
}
.title{
font-family:華康古印體;
font-size: 60px;	
font-weight: bold;
}
.record{
	margin-left: 10%;
	margin-right: 10%;
}
.manto{
	font-family:華康古印體;
font-size: 30px;	
font-weight: bold;
}
.history{
	height: 300px;
	background: yellow;
	border : 5px solid;
	color : #583238;
	font-size: 30px;
}

.respond{
	height: 300px;
	background: yellow;
	border : 5px solid;
	color : #583238;
	font-size: 30px;
}
footer{
	height: 100px;
	background: rgb(125,149,255);
}
.fbshare{
	padding: 0px 40px 0 1200px;
}

iframe{
	width: auto;
	height: auto;
}
